<% cache do %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center" id="top">
    <h1>Nyack's Waterfront Zoning Petition</h1>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-6 text-center">
    <h4>Total Petition Signers: <%= @signers.count %> </h4>
    <p>(as of <%= @signers.first.created_at.strftime('%b %e, %Y at %l:%M %p') %>)</p>
  </div>
  <div class="col-md-6 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Nyack's Population (2013): 6898 </h4>
        <h4>Petition Signers from Nyack, NY: <%= nyack_signer_count %></h4>
        <h4>Signers Flagged as Duplicates/Incorrect: <%= flagged_signer_count %></h4>
        <h4><b>Total Nyack Percentage: <%= nyack_percentage %>%</b></h4>
      </div>
    </div>
  </div>
</div>
<% cache do %>
<div class="row">
  <h3 class="text-center">Signers by Location</h3>
  <%= pie_chart home_location_path %>
</div>
<div class="row" id="signers">
  <%= link_to "Back to Top", "#top", class: 'btn btn-info text-center home-top-btn visible-md visible-lg' %>
  <% end %>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Nyack Resident Signers <%= link_to "See Full List", signers_path, class: 'btn btn-info text-center' %></h1>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Location</th>
        <th>Date Signed</th>
        <th></th>
      </tr>
      <% signer_count = 1 %>
      <% nyack_signers.each do |signer| %>
      <% if signer.flagged? %>
      <tr class="danger">
        <% else %>
        <tr>
          <% end %>
          <td><%= signer_count %></td>
          <td><%= signer.name %></td>
          <td><%= signer.location %></td>
          <td><%= signer.date.strftime('%B %e, %Y') %></td>
          <td class="text-center">
            <% if signer.flagged? %>
            <span class="has-popover"
            data-toggle="popover"
            data-container="body"
            data-placement="right"
            data-html="true"
            data-trigger="focus"
            title="Flagged Incorrectly?"
            data-content="<%= render partial: "signers/unflag", locals: {signer: signer} %>">
            <i class="fa fa-flag" aria-hidden="true"></i> <%= check_box_tag 'flag', 'flagged', checked: true %>
          </span>
          <% else %>
          <span class="has-popover"
          data-toggle="popover"
          data-container="body"
          data-placement="right"
          data-html="true"
          data-trigger="focus"
          title="Flag as Duplicate/Incorrect"
          data-content="<%= render partial: "signers/flag", locals: {signer: signer} %>">
          <i class="fa fa-flag" aria-hidden="true"></i> <%= check_box_tag 'flag' %>
        </span>
        <% end %>
      </td>
    </tr>
    <% signer_count += 1 %>
    <% end %>
  </table>
</div>
</div>
