<div class="row">
  <%= link_to "Back", root_path, class: 'btn btn-info text-center back-btn visible-md visible-lg' %>
  <%= link_to "Move to Top", "#top", class: 'btn btn-info text-center top-btn visible-md visible-lg' %>
  <div class="col-md-8 col-md-offset-2" id="top">
    <h1 class="text-center">Nyack Petition Signers</h1>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Location</th>
        <th>Date Signed</th>
      </tr>
      <% signer_count = 1 %>
      <% @signers.each do |signer| %>
      <tr>
        <td><%= signer_count %></td>
        <td><%= signer.name %></td>
        <td><%= signer.location %></td>
        <td><%= signer.date.strftime('%B %e, %Y') %></td>
      </tr>
      <% signer_count += 1 %>
      <% end %>
    </table>
  </div>
</div>
