<div class="row">
  <%= link_to "Back to Top", "#top", class: 'btn btn-info text-center top-btn visible-md visible-lg' %>
  <div class="col-md-8 col-md-offset-2" id="top">
    <h1 class="text-center">Nyack Petition Signers <%= link_to "Back", root_path, class: 'btn btn-info text-center pull-right' %></h1>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Location</th>
        <th>Date Signed</th>
        <th></th>
      </tr>
      <% signer_count = 1 %>
      <% @signers.each do |signer| %>
      <% if signer.flagged? %>
      <tr class="danger">
        <% else %>
        <tr>
          <% end %>
        <td><%= signer_count %></td>
        <td><%= signer.name %></td>
        <td><%= signer.location %></td>
        <td><%= signer.date.strftime('%B %e, %Y') %></td>
        <td class="text-center">
          <% if signer.flagged? %>
          <span class="has-popover"
          data-toggle="popover"
          data-container="body"
          data-placement="right"
          data-html="true"
          title="Flagged Incorrectly?"
          data-content="<%= render partial: "signers/unflag", locals: {signer: signer} %>">
          <i class="fa fa-flag" aria-hidden="true"></i> <%= check_box_tag 'flag', 'flagged', checked: true %>
        </span>
        <% else %>
        <span class="has-popover"
        data-toggle="popover"
        data-container="body"
        data-placement="right"
        data-html="true"
        title="Flag as Duplicate/Incorrect"
        data-content="<%= render partial: "signers/flag", locals: {signer: signer} %>">
        <i class="fa fa-flag" aria-hidden="true"></i> <%= check_box_tag 'flag' %>
      </span>
      <% end %>
    </td>
  </tr>
  <% signer_count += 1 %>
  <% end %>
</table>
</div>
</div>
